.gen-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing-sm);
  height: 50px;
  width: 100%;
  padding: var(--spacing-md);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-bold);
  border: none;
  border-radius: var(--radius-md);
  cursor: pointer;
  transition: all var(--transition-normal);
  color: var(--text-white);
  background: var(--color-primary-500);
}

.gen-btn:disabled {
  opacity: 0.6;
  cursor: nonne;
}

/* icon wrapper inside button */
.gen-btn-icon {
  display: inline-flex;
}

/* Danger (delete) */
.gen-btn--danger {
  background: var(--color-error-500);
}

/* Ghost (cancel/secondary) */
.gen-btn--cancel {
  background: var(--bg-white);
  color: var(--color-primary-500);
  border: 2px solid var(--color-primary-500);
}
